.container
  .starter-template 
    .jumbotron
      %h1 Scaler
    %ul.nav.nav-pills.nav-stacked
      %li
        %a{href: "/scheduled_actions"} Scheduled Actions 
      %li
        %a{href: "/groups"} Autoscaling Groups
      %li
        %a{href: "/launch_configurations"} Launch Configurations 
