.container
  .starter-template 
    .page-header
      %h1 Create AutoScaling Group 
    - form_for @group, '/groups', :id => 'new_group', method: 'post', role: 'form', class: 'form-horizontal' do |f|
      = haml_template 'groups/_form', object: @group, locals: { f: f }
      .form-group
        %div{class: 'col-lg-offset-2 col-lg-10'}
          = f.submit "Create", class: 'btn btn-default'

